@{
    ViewData["Title"] = "Import";
}

<h1>Import</h1>

<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Import" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class=""></div>
            <input type="file" id="file" name="file"  required />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Home">回到首頁</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}